# Ignore config files
# pick_optimization/config/gurobi_config.yaml

# Ignore input / output folders
*.csv

# Ignore log files
*.log

# Ignore output folder
output/

# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
pickplan-env/
env/
*.venv
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

